<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ '/css/flexboxgrid.css'' | prepend: site.baseurl_root }}">
        <link rel="stylesheet" href="{{ '/css/custom.css' | prepend: site.baseurl_root }}">
		<title>Kovri</title>
	<meta name="description" content="Kovri is a free, decentralized, anonymity technology developed by Monero">
	<meta name="author" content="The Kovri Project">
	<link rel="icon" type="image/x-icon" href="/img/kovri_on.png">
	<link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon/apple-icon-precomposed.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-icon-180x180.png">
</head>
